@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cut-image {
    clip-path: inset(329px 232px);
  }
}

html {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #256d85;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #47b5ff;
  border-radius: 5px;
}
